<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel">
    <wm-nav type="pills" layout="stacked" name="nav1">
        <wm-nav-item name="nav_item1">
            <wm-anchor caption="New Post" iconclass="wi wi-plus" class="active" name="anchor1" on-tap="Variables.navigationVariable2.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item2">
            <wm-anchor caption="Bookmark" iconclass="wi wi-bookmark" name="anchor2" on-tap="Variables.navigationVariable1.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item3">
            <wm-anchor caption="Official Twitter" iconclass="wi wi-bookmark" name="anchor3"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
    <wm-nav type="pills" layout="stacked" name="nav2">
        <wm-nav-item name="nav_item4">
            <wm-anchor caption="Settings" name="anchor4" badgevalue="4"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item5">
            <wm-anchor caption="Help" name="anchor5"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item6">
            <wm-anchor caption="Send Feedback" name="anchor6"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>