<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-mobile-navbar name="mobile_navbar1" title="Current Location" leftnavpaneliconclass="wi wi-menu" backbutton="false" defaultview="actionview" show="true" searchbutton="false"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-xs-4 control-label" name="label1" caption="Devices"></wm-label>
                <wm-container class="col-xs-8" name="container1">
                    <wm-select name="select1" placeholder="devices..." dataset="bind:Variables.sv_getAvailableDevices.dataSet" datafield="deviceId" on-change="Variables.sv_getLocationForDevice.invoke();googlemaps2.refresh" displayfield="deviceId" autofocus="true"></wm-select>
                </wm-container>
            </wm-composite>
            <wm-prefab prefabname="googlemaps" name="googlemaps2" locations="bind:Variables.sv_getLocationForDevice.dataSet" lat="latitude" lng="longitude" zoom="14"></wm-prefab>
            <wm-label padding="unset 0.5em" name="Latitude" caption="bind:Variables.sv_getLocationForDevice.dataSet.latitude"></wm-label>
            <wm-label padding="unset 0.5em" name="label4" caption=","></wm-label>
            <wm-label padding="unset 0.5em" name="Longitude" caption="bind:Variables.sv_getLocationForDevice.dataSet.longitude"></wm-label>
            <wm-label padding="unset 0.5em" name="FormattedAddress" caption="bind:Variables.sv_getAddressForLatLng.dataSet.results[$i].formatted_address"></wm-label>
        </wm-page-content>
    </wm-content>
    <wm-mobile-tabbar dataset="home" name="mobile_tabbar1" dropposition="up"></wm-mobile-tabbar>
</wm-page>